.curtime #exp-timestamp:before {
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	content: "\f145";
	color: #82878c;
}

#exp-timestampdiv select {
	height: 20px;
	line-height: 14px;
	padding: 0;
	vertical-align: top;
}

#exp-timestampdiv input {
	border-width: 1px;
	border-style: solid;
}

#exp-timestampdiv {
	padding-top: 5px;
	line-height: 23px;
}

.exp-year {
	width: 3.4em !important;
}

.exp-date input {
	padding: 1px;
	font-size: 12px;
	width: 2em;
}

.exp-buttons {
	padding-top: 8px;
}

.exp-cancel-timestamp {
	padding-left: 4px;
}
